*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}
.section{
    margin-top: 2em;
}
fieldset{
    margin: 1.2em;
    color: #000;
}
.formularioActualizarProduct{
    width: 70%;
    margin: 0px auto;
    padding: 0.5em;
    background-image: radial-gradient(circle, #e5dc28, #ecd51d, #f3ce12, #f9c707, #ffbf00);
    border: 0.1px solid #FFBF00;;
    border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}
.boton{    
    color: #fff!important;
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;    
}
